*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Inter';
    src: url(fonte/Inter-Regular.ttf) format('ttf'),
         url(fonte/Inter-Bold.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}



.header{
    background-color: #D9D9D9;
    width: 1920px;
    height: 164px;
}



.logo{
    max-width: 100%;
    height: 125px;
    flex-shrink: 0;
    background-color: #D9D9D9;
}


 .kawasaki-logo-png {
    padding-top: 25px;
    padding-left: 109px;
}

.linha-verde {
    width: 100%; 
    height: 5px; 
    background-color: #1DB718; 
}

nav.menu {
   display: flex;
   width: 1920px;
   height: 70px;
   padding: 0px 74px;
   align-items: center;
   background: #282828;
}

nav.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.menu li {
    padding-right: 15px;
    padding-left: 20px;
    margin: 0 5px;
    color: white;
}

.divisao {
    height: 70px; 
    width: 1px; 
    background-color: #FFF; 
}



nav.menu ul li {
    display: inline;
    margin-right: 15px;
    padding-right: 15px; 
}


nav.menu ul li a{
    font-family: 'inter';
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner {
    background-color: #DEDEDE;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    padding-top: 60px;
    padding-bottom: 20px;
    margin-top: 36px;
    width: 1920px;
}

.imagem-moto{
    padding-left: 10px;
}

.texto{
    font-family: 'inter';
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 191.023%;
}

.texto-menor{
    font-family: 'inter';
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 191.023%;
}


div.componente{
    display: inline-flex;
    align-items: center;
}

div.componente ul.esquerda li {
    font-family: 'inter';
    list-style: none;
    padding-left: 56px;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: left;
    display: inline;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 191.023%;
}

.line,
.line * {
  box-sizing: border-box;
}

.esquerda .line{
    margin-right: -70px;
    margin-left: 50px;
    margin-top: 30px;
    border-left: 3px solid #dedede;
    height: 84px;
    width: 3px;
    display: inline-block;
}



div.componente ul.direita{
    font-family: 'inter';
    list-style: none;
    padding-left: 300px;
    display: inline;
    padding-top: 25px;
    padding-bottom: 25px;
}



.box-preta{
    display: inline-flex;
    width: 250px;
    height: 68px;
    padding: 20px 30px;
    justify-content: center;
    padding-left: 37px;
    margin-right: 37px;
    border-radius: 9px;
    background: #000;
    padding-bottom: 20px;
    padding-top: 20px;
}

.box-preta li {
    font-family: 'inter';
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 90.5%;
    text-align: center;
    white-space: nowrap;
    margin-left: 30;
    margin-right: 30;
    margin-top: 20;
    margin-bottom: 20;
}
.titulo{
    font-family: 'inter';
    padding-left: 139px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #DEDEDE;
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 90.5%;
}

.seccao{
    width: 1920px;
}

.banner2{
    background-color: #DEDEDE;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 60px;
    padding-bottom: 20px;
    margin-top: 0px;
    padding-left: 90px;
    padding-top: 26px;
    width: 1920px;
}

.banner2 .imagem-moto{
    width: 800px;
    height: 556px;
    max-width: 100%;
    max-height: 100%;
}

.texto2{
    font-family: 'inter';
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 90.5%; 
    padding-bottom: 60px;
}

.subtexto{
    font-family: 'inter';
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 90.5%;
    padding-bottom: 60px;
}

.texto-menor2{
    font-family: 'inter';
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 90.5%;
    padding-right: 200px;
    padding-bottom: 60px;
    display: block;
}

.box-preta-quadrada{
    display: flex;
    width: 242px;
    height: 56px;
    padding: 20px 20px ;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    background: #000;
    white-space: nowrap; 
    align-self: flex-start
}

.texto-box{
    font-family: 'inter';
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 90.5%;
    padding-left: 30px;
    padding-right: 30px;
}

.banner2 .conteudo {
    padding-left: 60px;
}

.banner3{
    background-color: #DEDEDE;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding-top: 0px;
    padding-bottom: 20px;
    margin-top: 0px;
    padding-left: 100px;
}


.imagem-moto2{
 padding-right: 127px;
 width: 800px;
 height: 500px;
}


.banner3 .conteudo {
    padding-left: 60px;
}

.banner4{
    width: 1920px;
    height: 890px;
    flex-shrink: 0;
    background: #1E1E1E;
}

.linha{
    padding-top: 100px;
    display: inline-flex;
    align-items: center;
    padding-right: 100px;
}

.titulo2{
    font-family: 'inter';
    padding-left: 143px;
    padding-right: 20px;
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 90.5%;
}

.linha-verde2 {
    width: 1040px;
    height: 2px; 
    background-color: #1DB718; 
    align-items: center;
}

.imagens{
    padding-left: 150px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.imagem-container {
    text-align: center;
}

.imagens .imagem-item{
    margin-right: 129px;
    width: 450px;
    height: 339px;
    flex-shrink: 0;
}


.imagem-texto {
    font-family: 'inter';
    display: block; 
    margin-top: 30px; 
    margin-right: 150px;
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 143.5%;
}

.box-preta-verde{
    margin-top: 65px;
    margin-left: 860px;
    margin-bottom: 108px;
    justify-content: center;
    width: 192px;
    height: 89px;
    flex-shrink: 0;
    border-radius: 14px;
    border: 3px solid #1DB718;
    background: #1A1A1A;
}

.texto-box{
    font-family: 'inter';
    padding-top: 25px;
    padding-bottom: 30px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 143.5%;
    align-items: center;
}

.banner5{
    background: #E5E5E7;
    width: 100%;
    height: max-content; padding-bottom: 56px;
    display: flex; place-items: center;
    flex-direction: column;
}

#texto-final{

    color: #000;
text-align: center;
font-family: 'Inter';
font-size: 32px;
font-style: normal;
font-weight: 900;
line-height: 143.5%; 
align-items: center;
margin-top: 70px;

}

.barrinha{
width: 305px;
height: 1px;
background: #000;
display: flex;
margin-top: 20px;
place-content: center;
margin-bottom: 30px;

}

.links-finais1 {
    color: #000;
font-family: 'Inter';
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 143.5%;
text-decoration-line: underline;
}

.links-finais3{
list-style: none;
margin-bottom: 30px;
text-align: center;
}



